
@media only screen and (max-width:1366px){
    .contact_links a { width: 320px; }
}
@media only screen and (max-width:1280px){
    .contact_links a { width: 290px; }
}
@media only screen and (max-width:768px){
    .indexMapLinks a { margin-right: 50px; }
    .indexAd { font-size: 90px; }
    .companys_inner { width: 100%; margin: 0; }
    .company { float: none; margin: 375px auto 0 auto; }
    .plus { margin: 375px auto 0 auto; float: none; text-align: center; }
    .hotspots a { font-size: 14px; }
    .showcaseImg a { width: 48%; margin-bottom: 50px; }
    .contact_links { padding-bottom: 340px; }
    .contact_links a { margin-bottom: 40px; }
}
@media only screen and (max-width:640px){
    .hotspots a { margin-right: 15px; }
    .f72 { font-size: 60px; }
    .trustedLogo { width: 100%; margin: 0; }
    .trustedLogo img { margin: 0; }
}
@media only screen and (max-width:480px){
    .indexAd { font-size: 80px; }
    .indexMapLinks a { margin-right: 22px; }
    .triangle p { width: 400px; }
    .hotspots a { font-size: 12px; margin-right: 6px; }
    .f72 { font-size: 44px; }
}
@media only screen and (max-width:320px){
    .logo { left: 2%; }
}

