


@media only screen and (max-width:1450px){
    .contact_links a { width: 30%; margin: 0 2px; }
    .indexMapLinks { right: 3%; }
    .indexMapLinks a { margin-right: 100px; }
}
@media only screen and (max-width:1150px){ 
     .plus { margin: 575px 100px 0 100px; }
     .showcaseImg a { margin: 0 2px; }
     .indexMapLinks { right: 2%; }
     .indexMapLinks a { margin-right: 100px; }
     .company { width: 360px; }
}
@media only screen and (max-width:900px){
    .plus { margin: 575px 20px 0 20px; }
    .indexMapLinks a { margin-right: 80px; }
}


@media only screen and (max-width:800px){
    .indexMapLinks a { margin-right: 50px; }
    .indexAd { font-size: 90px; }
    .companys_inner { width: 100%; margin: 0; }
    .company { float: none; margin: 200px auto 0 auto; }
    .plus { margin: 200px auto 0 auto; float: none; text-align: center; }
    .hotspots a { font-size: 14px; }
    .showcaseImg a { width: 48%; margin-bottom: 50px; }
    /*.contact_links { padding-bottom: 340px; }*/
    .f72 { font-size: 66px; }
    .hotspots a { margin-right: 30px; }
    .trustedLogo { width: 460px; }
    .trustedLogo img { margin: 0; }
    .contact_links a { display: block; width: 99%; height: auto; line-height: inherit; 
        padding: 25px 0; margin: 20px 0 0 0; }
    .equal { margin: 182px auto 102px auto; }
    .trusted { margin-bottom: 0; }
    .mb105 {margin-bottom: 20px; }
}
@media only screen and (max-width:700px){
    .indexMapLinks a { margin-right: 40px; }
}
@media only screen and (max-width:640px){
    .indexMapLinks { right: 1%; }
    .indexMapLinks a { margin-right: 10px; }
    .hotspots a { margin-right: 15px; }
    .f72 { font-size: 60px; }
    .trustedLogo { width: 100%; margin: 0; }
    .trustedLogo img { margin: 0; }
    .main_heading { font-size: 40px; line-height: 40px; }
}
@media only screen and (max-width:480px){
    .indexMapLinks a { margin-right: 5px; font-size: 12px; }
    .indexAd { left: 3%; font-size: 50px; line-height: 50px; margin-top: -70px }
    .logo { left: 3%; }
    .triangle p { width: 100%; }
    .hotspots a { font-size: 12px; margin-right: 6px; }
    .f72 { font-size: 36px; }
}
@media only screen and (max-width:320px){  
    .company { width: 100%; margin-top: 150px; }
    .company p { font-size: 16px; }
    .plus { margin-top: 150px; }
    .f72 { font-size: 30px; }
    .showcaseImg a { margin: 0 1px 50px 1px; }
    .hotspots a { display: inline-block; margin-bottom: 10px; }
    .f36 { font-size: 28px; }
    .main_heading { font-size: 40px; line-height: 40px; }
    .bigMap { margin-top: 70px; }
    .mb105 {margin-bottom: 20px; }
    .indexAd { margin-top: -70px; }
    .logo { top: 54px; }
}

