
@media only screen and (max-width:1430px){
    .contact_links a { width: 350px; margin: 0 20px 380px 20px; }
}
@media only screen and (max-width:1360px){
    .contact_links a { width: 330px; margin: 0 20px 380px 20px; }
}
@media only screen and (max-width:1300px){
    .contact_links a { width: 300px; }
    .plus { margin: 575px 120px 0 120px; }
}
@media only screen and (max-width:1200px){
    .plus { margin: 575px 100px 0 100px; }
}
@media only screen and (max-width:1024px){
    .contact_links a { width: 260px; }
    .plus { margin: 575px 35px 0 35px; }
}



@media only screen and (max-width:1100px){
    /*.home_camcon {width:100%;}*/
    .press_list {width: 900px;}
    .press_item {margin: 50px 60px;}
    .home_viewtxt {width: 26%;margin: 0 0 0 5%;}
    .cam_item {width:318px;}
    .awardicons, .contact_item{width: 900px;}
    .awardicons img, .award-num{margin: 0px 62.5px 10px;}
    .contact_conr{padding-right: 0px;}
    .jobslist {width: 1000px;}
    .jobsitem {width:316px; }
    .about_timeline {width: 1000px;}
    .timeline_left, .timeline_right, .timeline_pho a {width: 480px;}
    .about_txt {width: 1000px;}

    .home_biotxt{width: auto;padding: 0 20px;}
    .home_bioleft{width: 47%;margin-right: 6%;}
    .home_bioright{width: 47%;}


    .all_media .contact_conl, .media .contact_conl{
        width: 100%;
        float: left;
    }


    .all_media .contact_conr, .media .contact_conr{
        width: 100%;
        float: right;
    }
}

@media only screen and (max-width: 1000px) {
    .contact_wrap {
        width: 50%;
    }

}

@media only screen and (max-width:1090px) {
    .ft_con{width: auto;}
    .ft_mod{width: 19%;padding: 0 0.5%;}
    .contact_tit {width: 900px;}

    .home_biotxt{width: auto;padding: 0 20px;}
    .home_bioleft{width: 47%;margin-right: 6%;}
    .home_bioright{width: 47%;}
}
@media only screen and (max-width:1000px){
	.nav{padding-right:150px;}
    .home_news{width: auto;}
    .home_view{padding: 0 20px;}

    /*.home_camcon{width: auto;}*/
    .cam_item {width:33%;}
    .cam_item img{width: 100%;}

    .home_biotxt{width: auto;padding: 0 20px;}
    .home_bioleft{width: 47%;margin-right: 6%;}
    .home_bioright{width: 47%;}
    .home_numtable{width: auto;}
    .about_txt {width: 900px;}
    /*.ft_con{width: auto;}*/
    /*.ft_mod{width: 19%;padding: 0 0.5%;}*/


    .gates-inner-l{font-size: 36px;padding: 0 50px;}
    .gates-inner-l a{margin-right: 10%;}


    .sectit{font-size: 36px;}
    .selitem{width: 100%;}
    .selitem .selitem_tips{width: 100%;text-indent: 2em;background-position: 90% center;padding-left: 0;}
    .awardfilter_btn{width: 100%;}


    .interview_list{width: auto;margin: 0 20px;}
    .interview_list .interview_info{width: 30%;margin-right: 2%;margin-left: 2%;}
    .interview_odd .interview_img,.interview_even .interview_img{width: 66%;overflow: hidden;}

    .about_timeline{padding: 0 20px;}
    .timeline_bt{width: auto;padding: 0 20px;}
    .timeline_bt img{width: 100%;}
    .timeline_btl{width: 48%;margin-right: 4%;}
    .timeline_btr{width: 48%;}


    .timeline_2012txt{font-size: 24px;}
    .jobslist {width: 900px;}
    .jobsitem {width:284px; }
    .about_timeline {width: 900px;}
    .timeline_left, .timeline_right, .timeline_pho a {width: 440px;}
    .timeline_left {padding-right: 20px;}


    .s_business { width: 700px; }
    .s_links a { margin: 0 30px; }

    .s_newFontLeft { width: 615px; }
    .s_newFontRight { width: 235px; }
    .s_emptyDiv1 { height: 810px; }
    .s_emptyDiv2 { height: 610px; }
    .s_emptyDiv3 { height: 0; margin-top: -27px; }

    .adwards-items li { width: 300px; }
    .s_lastLi { margin-left: 300px; }
    .home-adwards h2 { width: 900px; }
}
@media only screen and (max-width:900px){
    .press_list {width: 780px;}
    .press_item {margin: 50px 40px;}
    .awardicons, .contact_item{width: 800px;}
    .contact_con{width: auto;}
    .awardicons img, .award-num{margin: 0px 50px 10px;}

    .home-adwards h2 { width: 800px; }
    .adwards-items li { width: 266px; font-size: 16px; }
    .s_lastLi { margin-left: 266px; }
    
}
@media only screen and (max-width:810px){
    .home_viewtxt{width: 25%;margin: 0px 0px 0px 5%;}
}
@media only screen and (max-width:800px){
    .gates-inner-l{font-size: 30px;}

    .about_txt{padding: 40px 0}
    .about_txt p{font-size: 24px;}
    .awardicons, .contact_item{width: 600px;}
    .awardicons img, .award-num{margin: 0px 25px 10px;}

    .s_links a { margin: 0 15px; }
}

@media only screen and (max-width:640px){
    .gates-inner-l{font-size: 24px;}

    /*.pop_jobs*/
    .jobslist{width: 100%;}
    .sec_jobs{margin-top: 0;}
    .about_crumbs{display: none;}
    .jobsitem{width: auto;float: none;margin: 60px 40px;}
    .pop_jobs{width: 94%;height: 500px;margin: -275px 0 0 0;padding: 40px;font-size: 14px;left: 3%;box-sizing: border-box;-webkit-box-sizing: border-box;}
    .pop_jobcon{width: auto;height: 330px;}
    .pop_job_menus .popnext,.pop_job_menus .popnum,.pop_job_menus .popprev{display: none !important;}
    .pop_job_menus .popclose{right: 40px;width: 50px;height: 50px;background-size: 400%;}

}
