@media only screen and (min-width: 1600px) {
    .indexImg {
        width: 640px;
    }
}

@media only screen and (max-width: 2300px) {
    .companyL {
        margin-left: 14%;
    }

    .companyR {
        margin-right: 14%;
    }
}

@media only screen and (max-width: 1800px) {
    .companyL {
        margin-left: 10%;
    }

    .companyR {
        margin-right: 10%;
    }
}

@media only screen and (max-width: 1450px) {
    .contact_links a {
        width: 31%;
        margin: 0 1%;
    }

    .indexMapLinks {
        right: 3%;
    }

    .indexMapLinks a {
        margin-right: 100px;
    }

    .companyL {
        margin-left: 0;
    }

    .companyR {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .indexAd {
        font-size: 90px;
        margin-top: -90px;
    }
}

@media only screen and (max-width: 1250px) {
    /*.plus { margin: 575px 120px 0 120px; }*/
}

@media only screen and (max-width: 1150px) {
    /*.plus { margin-top: 575px; }*/
    .showcaseImg a {
        margin: 0 2px;
    }

    .indexMapLinks {
        right: 2%;
    }

    .indexMapLinks a {
        margin-right: 100px;
    }

    /*.company { width: 360px; }*/
    .jobs_more {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    /*.plus { margin: 575px 20px 0 20px; }*/
    .indexMapLinks a {
        margin-right: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .indexMapLinks a {
        margin-right: 50px;
    }

    .indexMapImg {
        right: auto;
        height: 100%;
    }

    .indexMapImg > img {
        width: initial;
        height: 100%;
    }

    .indexAd {
        font-size: 90px;
    }

    .companys_inner {
        width: 100%;
        margin: 0;
    }

    .company {
        float: none;
        margin: 100px auto 0 auto;
    }

    .companyR {
        margin-top: 0;
    }

    .companyBox {
        float: none;
    }

    .plus {
        position: static;
        margin: 100px auto;
        font-size: 22px;
        text-align: center;
    }

    .video {
        margin-bottom: 140px;
    }

    .hotspots a {
        font-size: 14px;
    }

    .showcaseImg a {
        width: 48%;
        margin-bottom: 50px;
    }

    /*.contact_links { padding-bottom: 340px; }*/
    .f72 {
        font-size: 66px;
    }

    .hotspots a {
        margin-right: 30px;
    }

    .trustedLogo {
        width: 460px;
    }

    .trustedLogo img {
        margin: 0;
    }

    .contact_links a {
        display: block;
        width: 99%;
        line-height: inherit;
        margin: 20px 0 0 0;
    }

    .equal {
        margin: 102px auto 102px auto;
        font-size: 22px;
    }

    .trusted {
        margin-bottom: 140px;
    }

    .mb105 {
        margin-bottom: 20px;
    }

    .indexImg {
        width: 90%;
        margin: 0 auto 115px auto;
    }

    .placeholderDiv {
        height: 0;
    }

    .showcase{
        margin-bottom: 140px;
    }

    ..contact{
        margin-bottom: 140px;
    }

    .showcaseImg a.showcase1:hover span {
        background-image: url("http://cdn.ffk2.com/img/showcase1.jpg");
    }

    .showcaseImg a.showcase2:hover span {
        background-image: url("http://cdn.ffk2.com/img/showcase2.jpg");
    }

    .showcaseImg a.showcase3:hover span {
        background-image: url("http://cdn.ffk2.com/img/showcase3.jpg");
    }

    .showcaseImg a.showcase4:hover span {
        background-image: url("http://cdn.ffk2.com/img/showcase4.jpg");
    }
}

@media only screen and (max-width: 700px) {
    .indexMapLinks a {
        margin-right: 40px;
    }

    .f72 {
        font-size: 62px;
    }
}

@media only screen and (max-width: 640px) {
    .indexMapLinks {
        right: 1%;
    }

    .indexMapLinks a {
        margin-right: 10px;
    }

    .hotspots a {
        margin-right: 15px;
    }

    .f72 {
        font-size: 56px;
    }

    .trustedLogo {
        width: 100%;
        margin: 0;
    }

    .trustedLogo img {
        margin: 0;
    }

    .main_heading {
        font-size: 30px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 580px) {
    .f72 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .f72 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 480px) {
    .indexMapLinks a {
        margin-right: 5px;
        font-size: 12px;
    }

    .indexAd {
        left: 3%;
        font-size: 50px;
        line-height: 50px;
        margin-top: -70px
    }

    .logo {
        left: 3%;
    }

    .triangle p {
        width: 100%;
    }

    .hotspots a {
        font-size: 12px;
        margin-right: 6px;
    }

    .f72 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 320px) {
    .company {
        width: 100%;
        margin-top: 150px;
    }

    .companyR {
        margin-top: 0;
    }

    .company p {
        font-size: 16px;
    }

    /*.plus { margin-top: 150px; }*/
    .f72 {
        font-size: 30px;
    }

    .showcaseImg a {
        margin: 0 1px 50px 1px;
    }

    .hotspots a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .f36 {
        font-size: 28px;
    }

    /*.main_heading {*/
        /*font-size: 32px;*/
        /*line-height: 32px;*/
    /*}*/

    .bigMap {
        margin-top: 70px;
    }

    .mb105 {
        margin-bottom: 20px;
    }

    .indexAd {
        margin-top: -70px;
        font-size: 42px;
    }

    .logo {
        top: 54px;
    }

}

