@charset "utf-8";
/*
 * avene 2013 10 
 */

/* Reset
================================================================================================= */
body{color:#000;background:#000;font-size:12px;}
body{font-family:"Helvetica Neue","Microsoft YaHei",arial,SimHei,sans-serif;padding:1px 0 0;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
* {outline: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
textarea,input {-webkit-user-select: text;-khtml-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.btn {cursor: pointer;}
.ac { text-align: center; }
.fl { float: left; }
.f36 { font-size: 36px; }
.f14 { font-size: 14px; }
.f144 { font-size: 14.4px; }
.f72 { font-size: 72px; }
.fb { font-weight: bold; }
.f200 { font-weight: 100; }
.lh18 { line-height: 18px; }
.mb105 { margin-bottom: 105px; }
h1,h2 { text-transform: uppercase; }
.tran-u{ text-transform: uppercase; }

/* Page Used 
=================================================================================  */
.indexMap { position: relative; top: 0; background-color: #fff; overflow: hidden; }
.indexMapImg { position: fixed; top: 0; right: 0; z-index: 2; }
.logo { position: absolute; z-index: 5; left: 10%; top: 71px; }
.logo img { display: block; }
.indexAd { position: fixed; z-index: 2; left: 10%; top: 50%; margin-top: -141px; color: #000000;
	font-size: 106px; font-weight: bold; line-height: 94px; }
.slideDownTip { position: absolute; z-index: 9; left: 50%; bottom: 5%; margin-left: -30px; }
.slideDownTip a { display: block; width: 59px; height: 22px;
	background: url("../img/arrow.png") no-repeat; }
.indexCon { position: relative; z-index: 3; background-color: #000; color: #fff; }
.companys { width: 90%; margin: 0 auto; }
.companys_inner { width: 1180px; margin: 0 auto; }
.company { width: 410px; margin-top: 375px; }
.companyR { margin-top: 374px; }
.company img { display: block; margin: 0 auto 45px auto; }
.company p { font-size: 24px; font-weight: lighter; text-transform: uppercase; line-height: 30px; }
.speed { display: block; font-size: 36px; font-weight: bold; margin: 18px 0 25px 0; }
.btn_website { display: block; width: 239px; height: 75px; line-height: 75px; text-align: center;
 font-size: 24px; color: #fff; border: 1px solid #fff; margin: 14px auto 0 auto; }
.btn_website:hover { border-color: #0600ff; background-color: #0600ff; color: #000; }
.plus { margin: 575px 165px 0 165px; font-size: 36px; font-weight: bold; }
.equal { width: 90%; margin: 232px auto 152px auto; font-size: 36px; font-weight: bold; }
.indexImg { width: 40%; margin: 0 auto 115px auto; }
.indexImg img { width: 100%;}
.main_heading { width: 90%; margin: 0 auto 130px auto; font-size: 60px; font-weight: bold;
line-height: 60px; }
.subheading { width: 90%; margin: 0 auto 40px auto; font-size: 24px; font-weight: bold;
line-height: 60px; text-transform: uppercase; }
.triangle { width: 90%; margin: 0 auto 138px auto; }
.triangle img { display: block; margin: 0 auto; }
.triangle h2 { margin: 48px 0 18px 0; }
.triangle p { width: 487px; margin: 0 auto; }
.hotspots { width: 90%; margin: 0 auto 150px auto; }
.hotspots a { color: #fff; font-size: 14px; margin-right: 35px; text-transform: uppercase; }
.bigMap { position: relative; margin-top: 121px; }
.bigMap img { width: 100%; height: 100%; }
.trusted { width: 90%; margin: 0 auto 80px auto; }
.trustedLogo { width: 759px; margin: 0 auto; }
.trustedLogo img { display: inline-block; margin: 0 76px; }
.showcase { width: 90%; margin: 0 auto 207px auto; }
.showcaseImg a { display: inline-block; width: 24%; margin: 0 4px 20px 0; color: #fff;
    font-size: 18px; }
.showcaseImg a img { display: inline-block; width: 100%; }
.showcaseImg a span { display: inline-block; width: 100%;
    height: 100%; background-size: 100%; background-repeat: no-repeat; }
.showcaseImg a.showcase1 span { background-image: url("../img/showcase1.jpg"); }
.showcaseImg a.showcase2 span { background-image: url("../img/showcase2.jpg"); }
.showcaseImg a.showcase3 span { background-image: url("../img/showcase3.jpg"); }
.showcaseImg a.showcase4 span { background-image: url("../img/showcase4.jpg"); }
.showcaseImg a.showcase1:hover span { background-image: url("../img/showcase5.jpg"); }
.showcaseImg a.showcase2:hover span { background-image: url("../img/showcase6.jpg"); }
.showcaseImg a.showcase3:hover span { background-image: url("../img/showcase7.jpg"); }
.showcaseImg a.showcase4:hover span { background-image: url("../img/showcase8.jpg"); }
.video { margin-bottom: 200px; }


.contact { width: 90%; margin: 0 auto; }
.contact_links {margin: auto;}
.contact_links a { display: block; width: 344px; height: 75px; margin: 0 41px;
	line-height: 75px; font-size: 24px; font-weight: 100;
	color: #fff; float: left; }
.indexMapLinks { position: fixed; z-index: 9; right: 4%; top: 92px; }
.indexMapLinks a { float: left; margin-right: 155px; font-size: 14px;
	color: #000000; text-transform: uppercase;  font-weight: bold }
.indexMapLinks.fcActive a{color: #ffffff;}

.circleWrap a { position: absolute; z-index: 2; width: 8px; height: 8px; background-color: #fff; border-radius: 50%;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; }
.circleWrap a.circle1 { left: 445px; top: 275px; }
.circleWrap a.circle2 { left: 785px; top: 255px; }

.circleWrap a.circle3 { left: 1200px; top: 460px; }
.circleWrap a.circle4 { left: 1260px; top: 400px; }
.circleWrap a.circle5 { left: 1208px; top: 355px; }
.circleWrap a.circle6 { left: 1286px; top: 362px; }
.circleWrap a.circle7 { left: 1345px; top: 358px; }

.content { background-attachment: fixed; background-repeat: no-repeat;
	position: relative; }
.mod-orient-layer { display: none; position: fixed; height: 100%;
	width: 100%; left: 0; top: 0; right: 0; bottom: 0;
	background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%;
	top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient { display: inline-block;
	width: 67px; height: 109px; background-image:
	url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAADaCAMAAABU68ovAAAAXVBMVEUAAAD29vb////x8fH////////x8fH5+fn29vby8vL////5+fn39/f6+vr////x8fH////////+/v7////09PT////x8fH39/f////////////////////x8fH///+WLTLGAAAAHXRSTlMAIpML+gb4ZhHWn1c2gvHBvq1uKJcC6k8b187lQ9yhhboAAAQYSURBVHja7d3blpowFIDhTUIAOchZDkre/zE7ycySrbUUpsRN2/1fzO18KzEqxEVgTiZNfgmmtxRc8iaR8HNe8x4BtjQePKayYCIoyBSgvNNE1AkNSHqZyLqk97EgUCCHBzZ5mkg7ScvIJuIyOyXBRFxgpqWZyGsAZLB1KjsJi8nutHU4JCRbFRH8tmirI9k8Jx2sqNs8K/m0LQkrktO2crgcgXGB4AiTEsB0hJfo9MGgX7CGcYiYwQxmMOOvZwRhBG8tCoMXjBDeXvWCEcHbi14wgCBmMIMZzGAGM5jxETNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxY6E2rUQxnH2tz9cirlJFwFBJedaPnUv0M7++egPDE8iAJcIDmxwH5wwv9vUviw2kLbVO3TJU5uul/EyB0FoLp4x60PdGUd3qPurrWyjGGTc05u+1dcgI7/+tCCPARWGhH7o5Y7RCf+bH9ctXLp6v2BVDxfqz0oPXeSVaNtINo/1SXDv4dck8IIkbhtC2ol+iouEonTBCbYvVMnXOjxww6s/RFrBUpXHh/gw1rHj5d/qhYn9Gpk2FWh6xRBRX5Oj3Znh2Sq49/L6+y8pB26q9GbE2dbA2mVbx6I+7MfBglLCttm73ZQi7AD3iL4HqjFYJHSPRppqaUaJ3ATpGa+ckpGak2hRRMyqjGMkvl+xyFeSMwjAqcsZgGDdyhl0oNTnDN4yenJGZFGxNChP5/Y3efh6SM2rDOJMzboYxkDMqwyjIGcIw6F+io2FU1IxIm1JqRmgXSkvNKNCXeTpGrU0JNSO2c6LIGPgCS8AuDHz9ta0SXWDtxoDRH+MqlbC2Dt2G2JFRadtQZt2qq/orGowdGb2euxYiqWEpVWhTBnszoNAPdStuQwxqf0aocdWKW4Z+DfszIh8pxJqbuCE4YAC+4bm0evtipjpgJHeFnyyt1Ku2xa0bhjxr27p75rECNwyI9ZwvXkHq+7aTaMEV44YYy/spfgjgjNHaWW+GeUhGEX7tLlVinIFDDSgnOwhi1V6bU0b6tVS9eAERe863g4dRrtiHdc6o+nn5vtyVVgR79Cqt4uL6gfHPQyGqtP2vf7HADGbcYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JjhtOM+J/AgT008yDMkN/dPP9hzS8zAMQN3OEYeekp5YU7KOKXwVXqiY+QS7smcinGKABWdiBgpPJTSMHJ4KidhhPBUSMLw4CmPhKHgKUXCkHsygum71ftNSgCX6bsl8FQyfbcL5EdYsDk0R3j7aiA5wpt5AjKg/2gLJEBD/0Hf2OOf/vRrj6z/7GtP4B3nMKyjHA12kIPSjnJs3FEO0TvKkYJHOWCR+rjJH0Vn6fI5PjNbAAAAAElFTkSuQmCC');transform:rotate(90deg);-webkit-transform:rotate(90deg);-webkit-animation:rotation infinite 1.5s ease-in-out;animation:rotation infinite 1.5s ease-in-out;-webkit-background-size:67px;background-size:67px}.mod-orient-layer__desc{margin-top:20px;font-size:15px;color:#fff}.mod-orient-layer__desc{margin-top:20px;font-size:15px;color:#fff}@keyframes rotation{10%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}50%{transform:rotate(0);-webkit-transform:rotate(0)}60%{transform:rotate(0);-webkit-transform:rotate(0)}90%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}100%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}}@-webkit-keyframes rotation{10%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}50%{transform:rotate(0);-webkit-transform:rotate(0)}60%{transform:rotate(0);-webkit-transform:rotate(0)}90%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}100%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}}
.mod-orient-layer__contentNew { top: 50%; margin-top: -113px; }
.mod-orient-layer__contentNew img { display: inline-block; }
/*.contact_links a:hover, .circleLinks a:hover, .hotspots a.current,  .indexMapLinks a:hover*/
/*{ opacity: 0.5; -o-transition: opacity .20s linear; -webkit-transition: opacity .20s linear;*/
    /*-moz-transition: opacity .20s linear; transition: opacity .20s linear;}*/

.s_all { opacity: 0; background-color: #000; }
#loadding{ position: fixed; z-index: 99999; height: 100%; width: 0px; top: 0; left: 0; background: #fff; }

.tvp_overlay_poster { position: absolute; z-index: 9; left: 0; top: 0;
	width: 100%; height: 100%; overflow: hidden; text-align: center;
	background-color: #000; }
.tvp_poster_img { display: block; width: 100%; }
.placeholderDiv { height: 120px; visibility: hidden; }
.indexMapLinks a:hover,.hotspots a.current,.circleLinks a:hover {opacity: 1; color:#0600ff;}

/* 按钮动画 */
@-webkit-keyframes example1 {
    from { border: 1px solid #fff; }
    to   { border: 1px solid #0600ff; }
}
@-webkit-keyframes example2 {
    from { border: 1px solid #0600ff; }
    to   { border: 1px solid #fff; }
}
.companyBox { display: block; width: 239px; height: 75px; margin-left: 85px;
    line-height: 75px; font-size: 24px; font-weight: normal;
    color: #fff; float: left; }

.jobs_more { display: block; height: 75px; width: 239px; text-align: center;
    line-height: 75px; border: 1px solid #fff; margin: 14px auto 0; cursor: pointer;
    font-size: 24px; font-weight: normal; color: #fff; }
.transitionDiv { position: relative; width: 100%; height: 100%; }
.transition {
    transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out;
}
.hideBox { position: absolute; bottom: 0; left: 0; width: 100%; height: 0;
    background-color: #0600ff; color: #000000; text-align: center; overflow: hidden; }
.transitionFont { display: block; position: absolute; bottom: 0; left: 0; width: 100%;
    margin: auto; }
.transition-wrap:hover .hideBox { height: 100%; }
.transition-wrap:hover {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: example1;
    -webkit-animation-fill-mode : forwards;
    border: 1px solid #0600ff;
}
.transition-wrap {
     overflow: hidden;
     -webkit-animation-duration: 1s;
     -webkit-animation-name: example2;
     -webkit-animation-fill-mode : forwards;
 }
.transition-wrap:hover .transition { color: #000; }

/* 按钮动画 */
.contact_links a .jobs_more, .companyBox { width: 100%; height: 100%; margin: 0; overflow: hidden; }







/* ie8以及以下版本 */
.low-browser { display: none; position: relative; z-index: 9; top: 0; background-color: #0000ff; overflow: hidden; }
.low-browserBtns { position: absolute; left: 10%; bottom: 15%; }
.low-browserBtns a { float: left; width: 194px; height: 61px; margin-right: 81px; line-height: 61px; text-align: center;
    border: 1px solid #000; font-size: 18px; color: #000; }
/* ie8以及以下版本 */